.SobreNosotros {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4d4d4d;
  text-align: center;
  padding-top: 80%;
}

#logo-central {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

.circulo {
  height: 350px;
  width: 350px;
  background-color: #e6f4ea;
  border-radius: 50%;
  display: inline-block;
}

.logo {
  height: 250px;
  display: block;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 14%;
  margin-left: 16%;
}

.contenido-principal {
  margin: 40px 0;
  /*font-family: "DM Sans";*/
}

.contenido-principal h1 {
  color: #648c27;
  text-align: center;
}

.contenido-principal p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 800px;
  margin: 20px auto;
}

.seccion-equipo {
  background-color: #f9f9f9;
  padding: 40px 20px;
  margin-top: 40px;
}

.equipo-desarrollador {
  color: #648c27;
  margin-bottom: 40px;
  text-align: center;
}

.Miembros-equipo {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.Miembro-equipo {
  background-color: #ffffff;
  padding: 20px;
  width: 150px;
}

#puntito {
  background-color: #f28c0f;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-self: center;
  margin-top: 40px;
}

.Miembro-equipo .integrante {
  margin: 0;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 23px;
}
